.str-hdr{

}

.str-hdr__inr{
    padding: 15px 12px;
}

.str-hdr__img{
    max-width: 100px;
    max-height: 33px;
}

.str-hdr__view-cb{
    border-top: 1px solid #dfe1e8;
    padding: 17px 12px;
    color: #0066c0;
}
.str-hdr__cb-row{
        overflow: hidden;
}
.str-hdr__cb-row + .str-hdr__cb-row{
    margin-top: 10px;
}
.str-hdr__cb-ttl{
    border-top: 1px solid #dfe1e8;
    padding: 12px;
    color: #0066c0;
}
.str-hdr__cb-prop {
    color: #444;
    font-weight: 300;
}
.str-hdr__cb-val {
    font-weight: 500;
    margin-top: 5px;
}
.str-hdr__cb-slab{
    padding: 0 10px 10px 10px;
}
.str-hdr__cb-dtls{
    overflow: hidden;
    transition: .25s ease-in-out;
    max-height: 0;
}
.str-hdr__cb-dtls--expnd{
    max-height: 450px;
}
.str-hdr__cb{
    float: left;
    color: #099181;
    background: url(https://assets.mspcdn.net/f_auto/msp-ui/icons/cashbackicon@2x.png) no-repeat center left / 20px;
    padding-left: 25px;
    margin-top: 9px;
}

.str-hdr__btn{
    float: right;
    font-weight: 500;
}

.str-hdr__info{
    margin-top: 12px;
}

.str-fltr-wrpr__ttl{
    text-transform: capitalize;
    color: #111;
    font-weight: 600;
    font-size: 15px;
    padding: 0 0 7px 5px;
}

.str-fltr-wrpr{
    padding: 12px 7px;
}
